@{
    ViewData["Title"] = "Home Page";
    var twofactor = (bool?)ViewData["TwoFactorEnabled"];
    var isAdmin = (bool?)ViewData["IsAdministrator"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity?.IsAuthenticated == true)
    {
        
        if (twofactor == true)
        {
            <a asp-area="Identity" asp-action="RemoveAuthenticator" asp-controller="Account" class="btn btn-warning">Reset & Remove Two Factor Auth</a>
        }
        else
        {
            <a asp-area="Identity" asp-action="EnableAuthenticator" asp-controller="Account">Setup Two Factor Auth</a>
        }
        <br />
        <br />

         @if (isAdmin == true)
        {
            <h2>Your role is - Admin</h2>
        }
        else
        {
            <h2>Your role is - Non Admin</h2>
        } 
    }

</div>
